/* fonts */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

.navigation-link-text {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.button-text {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 34px;
  background: #756157;
  border-radius: 4px;
  color: #FFFFFF;
}

.main-heading-title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  }

.main-heading-text {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  }

.heading-title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}

.heading-text {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.button-text-big {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  border: none;
  text-transform: uppercase;
}


/* html */
*,
*::after,
*::before {
    box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  width: 100%;
  background: #F2F2F2;
}

body {
  background-color: #FFFFFF;
  width: 1200px;
  margin: 0 auto;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  box-sizing: border-box;
  color: #000000;
}

/* navigation */
.navigation {
  height: 64px;
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
}

.navigation-logo-link {
  margin: 0 28px 0 0;
}

.navigation-list {
  max-width: 600px;
  margin: 0 auto 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
}

.left-list-item:last-child {
  margin: 0;
}

.navigation-items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.navigation-item-search {
  display: block;
  width: 18px;
  height: 18px;
  background: url(/icons/header/search.svg) no-repeat center;
  padding: 20px 13px;
  margin-right: 18px;
}

.navigation-item-heart {
  display: block;
  width: 18px;
  height: 18px;
  background: url(/icons/header/heart.svg) no-repeat center;
  padding: 20px 13px;
  margin-right: 29px;
}

.navigation-link-button {
  display: block;
}

/* main-container */
.main-welcome {
  width: 1200px;
  height: 485px;
  background: url(../images/index-background.jpg) no-repeat center;
  padding: 51px 371px;
}

.advantages-header {
  text-align: center;
  height: 261px;
  padding: 69px 270px;
  margin-bottom: 21px;
}

.advantages-title {
  margin-bottom: 25px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantages-real-city,
.advantages-bridge {
  display: flex;
}

.advantages-container-blue {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  min-height: 385px;
  background: #82B3D3;
  color: #FFFFFF;
  padding: 102px 85px;
  text-align: center;
}

.real-city-image,
.bridge-image {
  height: 100%;
  object-fit: cover;
}

.advantages-small-area,
.advantages-beautiful-road,
.advantages-few-tourists {
  width: 400px;
  min-height: 385px;
  padding: 113px 85px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.real-city-title,
.bridge-title,
.small-area-title,
.beautiful-road-title,
.few-tourists-title {
  text-align: center;
  padding: 0 29px;
}


.recommendations {
  height: 246px;
  text-align: center;
  padding: 64px ;
}

.recommendations-title {
  width: 505px;
  height: 72px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.recommendations-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.housing,
.food,
.souvenirs {
  width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 183px 85px 81px;
}


.housing {
  background: url(../icons/recommendations/housing.svg) no-repeat;
}

.food {
  background: url(../icons/recommendations/food.svg) no-repeat;
}

.souvenirs {
  background: url(../icons/recommendations/souvenirs.svg) no-repeat;
}

/* hotel-search */
.hotel-search {
  height: 406px;
  padding: 96px 304px;
  text-align: center;
}

.hotel-search-title {
  margin-bottom: 20px;
}

.hotel-search-text {
  margin-bottom: 54px;
}

.hotel-search-link {
  background: #756157;
  border-radius: 4px;
  color: #FFFFFF;
  padding: 8px 50px;
}

/* subscription */
.subscription {
  width: 1200px;
  height: 415px;
  background: url(../images/index-newsletter.jpg);
  padding: 96px 258px 104px;
  text-align: center;
  color: #FFFFFF;
}

.subscription-title {
  margin: 0 auto 20px;
}

.subscription-text {
  color: #FFFFFF;
  margin: 0 100px 54px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

.field {
  width: 452px;
  height: 52px;
  border: none;
  padding: 14px auto 14px 20px;
  border-radius: 4px 0 0 4px;
}

.newsletter-button {
  background: #82B3D3;
  padding: 8px 50px;
  color: #FFFFFF;
  border: none;
  border-radius: 0 4px 4px 0;
}

/* footer */
.footer-conteiner {
  min-height: 70px;
  padding: 47px 70px;
  display: flex;
  justify-content: space-between;
}

.social-list {
  width: 150px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-link {
padding: 13px 12px;
}

.vk-link {
  display: block;
  width: 48px;
  height: 40px;
  background: url(/icons/social/vk.svg) no-repeat center;
  padding: 13px 12px;
}

.telegram-link {
  display: block;
  width: 48px;
  height: 40px;
  background: url(/icons/social/telegram.svg) no-repeat;
  padding: 13px 12px;
}

.youtube-link {
  display: block;
  width: 48px;
  height: 40px;
  background: url(/icons/social/youtube.svg) no-repeat;
  padding: 13px 12px;
}

.address-phone {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  text-decoration: none;
  color: #000000;
}

.htmlacademy-link {
  width: 115px;
  height: 33px;
  background: url(/icons/html-academy.svg) no-repeat;
}



/* catalog */
.hotel-filter {
  background: url(/images/catalog-background.jpg) no-repeat center;
  background-size: cover;
  padding: 35px 70px;
}

.filter-header {
  display: flex;
  flex-direction: column;
}

.form-price {
  display: flex;
}
