@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  width: 100%;
  background-color: #F2F2F2;
}

.conteiner {
  width: 1200px;
  background-color: #ffffff;
  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
  margin: 0 auto;
  box-sizing: border-box;
}

.button-blue {
  background-color: #82b3d3;
}

.button-green {
  background-color: #7db54f;
}

.heading-main {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.heading-last {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.title-text {
  font-size: 22px;
  line-height: 26px;
}

/* header */
.header-page {
  display: flex;
  width: 1060px;
  height: 64px;
  margin: 0 auto;
}

.navigation-logo {
  margin-right: 44px;
  position: relative;
}

.navigation {
  display: flex;
  width: 990px;
  justify-content: space-between;
  align-items: center;
}

 .navigation-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-list-item {
  margin-right: 32px;
}

.navigation-list-items {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-item-search {
  margin-right: 23px;
}

.navigation-item-heart {
  margin-right: 32px;
}

.navigation-list-link {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
}

.navigation-link-button {
  width: 160px;
  height: 36px;
  padding: 8px 34px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
}

/* main */

.index-background-image {
  display: block;
  position: absolute;
}

.index-logo-image {
  display: block;
  position: relative;
  top: 51px;
  margin: 0 auto;
  margin-bottom: 202px;
}

.welcome-title {
  width: 620px;
  height: 72px;
  margin: 0 auto 25px;
  text-align: center;
}

.welcome-text {
  width: 651px;
  color: #333333;
  margin: 0 auto 90px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 0 64px;
}

.real-city-image,
.bridge-image {
  width: 800;
  height: 385px;
}

.real-city,
.bridge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #82b3d3;
  width: 400px;
  height: 385px;
  text-align: center;
}

.small-area,
.beautiful-road,
.few-tourists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 385px;
  text-align: center;
}

.small-area-text,
.beautiful-road-text,
.few-tourists-text {
  color: #333333;
}

.recommendations-paragraph-main {
  width: 505px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}

.recommendations-paragraph-last {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 64px;
}

.recommendations-list p {
  color: #333333;
}

.recommendations-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 auto 96px;
}

.housing,
.food,
.souvenirs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 400px;
  height: 385px;
}

.hotel-search {
  color: #333333;
  margin: 0 auto 105px;
  text-align: center;
}

.hotel-search-title {
  margin: 0 auto 20px;
}

.hotel-search-text {
  width: 592px;
  margin: 0 auto 62px;
}

.hotel-search-button {
  width: 376px;
  height: 52px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding: 12px 50px;
  border-radius: 4px;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
}


.newsletter {
  display: block;
  width: 1200px;
  height: 52px;
  text-align: center;
}

.newsletter-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  border: none;
}

.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/index-newsletter.jpg);
  background-repeat: no-repeat;
  width: 1200px;
  height: 415px;
}

.page-footer-title {
  color: #ffffff;
}

.page-footer-text {
  color: #ffffff;
}

.newsletter-form {
  display: flex;
  justify-content: center;

}


.field {
width: 452px;
height: 52px;
border-radius: 4px 0 0 4px;
border: none;
}

.newsletter-button {
  color: #ffffff;
  background-color: #82b3d3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
}

.footer-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 120px;
  margin: 0 auto;
}

.footer-social-list {
  margin-left: 82px;
  list-style: none;
  padding: 0;
  display: flex;
}

.footer-social-vk {
  margin-right: 25px;
}

.footer-social-tg {
  margin-right: 25px;
}

.htmlacademy-link {
  margin-right: 70px;

}

.footer-contacts-address-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

/* catalog */

.main-inner {
  background-image: url(../images/catalog-background.jpg);
  background-repeat: no-repeat;
  width: 1200px;
  height: 476px;
}

.inner-header {
  margin: 0 auto;
  width: 1060px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 40px;
  color: #ffffff;
}

.breadcrumbs {
  display: flex;
  list-style-type: none;
  background-color: none;
  padding: 0;
}

.breadcrumbs-item {
  margin-right: 28px;
}


.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.catalog-products {
  width: 1060px;
  margin: 0 auto;
}

.catalog-filter {
  display: flex;
  color: #ffffff;
}

.infostructure {
  border: none;
  text-align: left;
  padding: 0;
  width: 151px;
  margin-right: 68px;
}


.type-of-housing {
  border: none;
  text-align: left;
  padding: 0;
  width: 151px;
  margin-right: 138px;
}

.infostructure-title,
.type-of-housing-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  border: none;
}

.infostructure-list,
.type-of-housing-list {
  list-style: none;
  padding: 0;
}

.infostructure-item,
.type-of-housing-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 16px;
}

.control-input {
  border-radius: 4px;
}

.price-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price-button-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 50px 8px 50px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
  border-radius: 4px;
}

.select-control h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.select-control a {
  text-decoration: none;
}

.newsletter-catalog .page-footer-title {
  color: #000000;
}

.newsletter-catalog .title-text {
  color: #000000;
}
